@model List<_100ToMe.Models.Files>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string extensionIcon = "far fa-folder";
}
<div class="container">
    <div class="row d-flex align-items-center" style="min-height:150px;">
        @if (ViewBag.Erro != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="height:60px; width:100%;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.Erro
            </div>
        }

        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="height:60px; width:100%;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @ViewBag.Success
            </div>
        }
        <div class="col-12 d-flex justify-content-between">
            <h1>Meus uploads</h1>
            <form asp-controller="Repositories" asp-action="Upload" enctype="multipart/form-data">
                <label class="btn btn-sm myButtons text-white mb-0">
                    Selecionar<input type="file" name="arquivos" style="display: none;" />
                </label>
                <input class="btn btn-sm myButtons text-white" type="submit" value="Enviar" />
            </form>
        </div>
    </div>
</div>
<div class="container-fluid p-0 m-0">
    <div class="row bg-light border-top" style="min-height:100vh;">
        <div class="container d-flex flex-column">
            <div class="row" style="height:60px; display:table !important;"></div>
            <div class="row cardsRow p-5 border" style="border-radius:3px;">
                @foreach (Files item in Model)
                {

                    switch (item.ExtensionType)
                    {
                        case "jpg":
                            extensionIcon = "far fa-file-image";
                            break;

                        case "png":
                            extensionIcon = "far fa-file-image";
                            break;

                        case "pdf":
                            extensionIcon = "far fa-file-pdf";
                            break;

                        case "txt":
                            extensionIcon = "far fa-file-alt";
                            break;

                        case "tmp":
                            extensionIcon = "far fa-folder";
                            break;

                        case "gif":
                            extensionIcon = "far fa-folder";
                            break;
                    }
                    var nameSplitted = item.Name.Split("__");
                    <div class="col-md-4 col-sm-12 mb-5 d-flex justify-content-center align-items-center">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header d-flex justify-content-center">
                                <i class="@extensionIcon" style="color:#ccc; font-size:100px;"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@nameSplitted[0]</h5>
                                <div class="container d-flex justify-content-start" style="padding:0 !important;">
                                    <a href="javascript:void(0)" class="mr-1" data-toggle="modal" data-target="#exampleModalDelete"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Excluir" onclick="ExcluirFile('@item.Name', @item.ArquivoId)"></i></a>
                                    
                                    @*<div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Novo Repo</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <p>Deseja excluir este repositório ?</p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-primary" >Sim!</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @if (ViewBag.ErrorList != null)
                {
                    <div class="alert alert-danger alert-dismissible" role="alert" style="height:60px; width:100%;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        @ViewBag.ErrorList
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>

    
    
    function ExcluirFile(obj, obj2) {
        Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.value) {
    $.ajax({
            method: "POST",
            dataType: "JSON",
        url: '@Url.Action("ExcluirFiles", "Repositories")',
        data: { nameFile: obj, fileId: obj2 },
            success: function (resp) {
                if (resp) {
                    SuccessAddRepo();
                } else {
                    ErrorAddRepo();
                }
    },
    });
  }
})
    };

    function SuccessAddRepo() {
        Swal.fire({
  icon: 'success',
  title: 'Your work has been saved',
}).then((result) => {
    if (result.value) {
        location.reload();
  }
})
    }

    function ErrorAddRepo() {
        Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Something went wrong!',
  footer: '<a href>Why do I have this issue?</a>'
})
    }
</script>
